/* General */
.row {
	max-width: 100em;
}
.done,
.done h1,
.done h2{
	color: #C5C5C5;
}

/* Homepage */
	/* General */
	.step h1 {
		font-size: 6em;
		margin: 0;
	}

	/* Specific */
	.first .content {
		margin-top: 1.25em;
	}