/* General */
.row {
	max-width: 100em;
}
.done,
.done h1,
.done h2{
	color: #C5C5C5;
}

/* Homepage */
	/* General */
	.step h1 {
		font-size: 6em;
		margin: 0;
	}

	/* Specific */
	.first .content {
		margin-top: 1.25em;
	}

.tweet .screen_name {
	color: #999;
}
.tweet .name {
	color: #999;
}
.tweet .date {
	font-weight: bold;
	font-size: 0.9em;
}
.tweet .text {
	margin-top: 10px;
}
.tweet p.text {
	margin-top: 10px;
	margin-bottom: 10px;
}
.tweet hr {
	margin-bottom: 15px;
}