<div class="large-2 columns">
	<div id="sidebar">
		<h1>Wipe Your Ex !</h1>
		<img src="http://placehold.it/250x250">
		<hr>
		<p>
			{{ 'sidebar.introduction'|trans }}
			<br>
			By <a href="http://twitter.com/VictorBersy/">@VictorBersy</a>.
		</p>
		<hr>
		<a href="{{ app.url_generator.generate('root') }}en_US/">English</a><br>
		<a href="{{ app.url_generator.generate('root') }}fr_FR/">Français</a>
	</div>
</div>